## 3.4

In [3]:
import numpy as np

def example(x):
    return np.sum(x**2)


def example_grad(x):
    return 2*x

def foo(x):
    result = 1
    λ = 4 # this is here to make sure you're using Python 3
    for x_i in x:
        result += x_i**λ
    return result

def foo_grad(x):
    result = x
    for i in x:
        result = x_i**3
    return result*4

def bar(x):
    return np.prod(x)

def bar_grad(x):
    raise NotImplementedError # TODO

In [57]:
x = np.array([1,2,3])
result = x
for i in range(0,len(x)):
    result = x[i]**3
result*4

324

In [4]:
x=np.array([1,2,3])
np.prod(x)

6

In [12]:
temp = np.delete(x,0)
temp.size
x.size

3

In [52]:
x = np.array([2,4,6])
ans = (6*4) + (6*2) + (2*4)
grad= 0
for i in range(0,x.size):
    temp = np.delete(x,i)
    grad += np.prod(temp)
len(x)

3

# 5.1

In [4]:
import pandas as pd
import os
from scipy import stats
path = '/Users/akshdeepsandhu/Desktop/UBC/CPSC 340/cpsc 340/Assignments/a1/data/fluTrends.csv'

df = pd.read_csv(path)
X = df.values
names = df.columns.values

min_val = np.min(X)
max_val = np.max(X)
mean = np.mean(X)
median = np.median(X)
mode = stats.mode(X)

In [13]:
print(min_val);print(max_val);print(mean);print(median)

0.35200000000000004
4.862
1.3246250000000002
1.1589999999999998

In [15]:
np.quantile(X,[.05,.25,.5,.75,.95])

array([0.46495, 0.718  , 1.159  , 1.81325, 2.62405])

In [3]:
#compute the minimum, maximum, mean, median, and mode of all values across the dataset
min_val = df.min()
min_val

NE           0.428
MidAtl       0.483
ENCentral    0.452
WNCentral    0.464
SAt1         0.468
ESCentral    0.554
WSCentral    0.456
Mtn          0.352
Pac          0.377
WtdILI       0.606
dtype: float64

In [39]:
max_val = df.max()
max_val

NE           2.310
MidAtl       2.205
ENCentral    2.515
WNCentral    3.115
SAt1         2.714
ESCentral    3.859
WSCentral    3.219
Mtn          4.862
Pac          2.660
WtdILI       3.260
dtype: float64

In [11]:
mean = df.mean()
print(mean == max(mean))
print(mean == min(mean))

NE           False
MidAtl       False
ENCentral    False
WNCentral    False
SAt1         False
ESCentral    False
WSCentral    False
Mtn          False
Pac          False
WtdILI        True
dtype: bool
NE           False
MidAtl       False
ENCentral    False
WNCentral    False
SAt1         False
ESCentral    False
WSCentral    False
Mtn          False
Pac           True
WtdILI       False
dtype: bool

In [12]:
var = df.var()
print(var == max(var))
print(var == min(var))

NE           False
MidAtl       False
ENCentral    False
WNCentral    False
SAt1         False
ESCentral    False
WSCentral    False
Mtn           True
Pac          False
WtdILI       False
dtype: bool
NE           False
MidAtl       False
ENCentral    False
WNCentral    False
SAt1         False
ESCentral    False
WSCentral    False
Mtn          False
Pac           True
WtdILI       False
dtype: bool

In [41]:
median = df.median()
median

NE           1.1295
MidAtl       1.1160
ENCentral    1.2650
WNCentral    1.2775
SAt1         1.1025
ESCentral    1.4165
WSCentral    1.1075
Mtn          0.9785
Pac          0.9570
WtdILI       1.3035
dtype: float64

In [42]:
mode = df.mode()
mode

,NE,MidAtl,ENCentral,WNCentral,SAt1,ESCentral,WSCentral,Mtn,Pac,WtdILI
0,0.428,0.49,0.452,0.505,0.542,0.554,0.499,0.352,0.377,0.715
1,0.432,NaN,0.454,1.286,0.616,0.558,NaN,0.380,0.385,NaN
2,0.434,NaN,0.468,1.794,1.012,0.566,NaN,0.391,0.388,NaN
3,0.437,NaN,0.470,NaN,NaN,0.587,NaN,0.404,0.409,NaN
4,0.444,NaN,0.488,NaN,NaN,0.595,NaN,0.430,0.414,NaN
5,0.465,NaN,0.490,NaN,NaN,0.600,NaN,0.439,0.422,NaN
6,0.480,NaN,0.491,NaN,NaN,0.612,NaN,0.452,0.442,NaN
7,0.495,NaN,0.522,NaN,NaN,0.642,NaN,0.459,0.452,NaN
8,0.498,NaN,0.526,NaN,NaN,0.653,NaN,0.474,0.453,NaN
9,0.525,NaN,0.540,NaN,NaN,0.721,NaN,0.521,0.499,NaN
10,0.570,NaN,0.589,NaN,NaN,0.769,NaN,0.525,0.502,NaN
11,0.600,NaN,0.604,NaN,NaN,0.829,NaN,0.564,0.540,NaN
12,0.684,NaN,0.667,NaN,NaN,0.893,NaN,0.568,0.541,NaN
13,0.743,NaN,0.726,NaN,NaN,0.932,NaN,0.643,0.561,NaN
14,0.770,NaN,0.792,NaN,NaN,0.974,NaN,0.649,0.617,NaN
15,0.795,NaN,0.896,NaN,NaN,0.987,NaN,0.685,0.652,NaN
16,0.868,NaN,0.906,NaN,NaN,1.006,NaN,0.744,0.667,NaN
17,0.890,NaN,0.913,NaN,NaN,1.024,NaN,0.770,0.709,NaN
18,0.911,NaN,0.954,NaN,NaN,1.033,NaN,0.846,0.736,NaN
19,0.949,NaN,0.994,NaN,NaN,1.039,NaN,0.884,0.759,NaN
20,0.964,NaN,1.065,NaN,NaN,1.144,NaN,0.903,0.770,NaN
21,0.970,NaN,1.141,NaN,NaN,1.208,NaN,0.912,0.820,NaN
22,1.095,NaN,1.184,NaN,NaN,1.279,NaN,0.914,0.894,NaN
23,1.096,NaN,1.228,NaN,NaN,1.385,NaN,0.937,0.895,NaN
24,1.121,NaN,1.232,NaN,NaN,1.394,NaN,0.964,0.917,NaN
25,1.124,NaN,1.258,NaN,NaN,1.400,NaN,0.976,0.943,NaN
26,1.135,NaN,1.272,NaN,NaN,1.433,NaN,0.981,0.971,NaN
27,1.136,NaN,1.278,NaN,NaN,1.457,NaN,1.056,1.018,NaN
28,1.212,NaN,1.295,NaN,NaN,1.556,NaN,1.102,1.082,NaN
29,1.285,NaN,1.356,NaN,NaN,1.644,NaN,1.275,1.105,NaN
30,1.354,NaN,1.460,NaN,NaN,1.662,NaN,1.321,1.118,NaN
31,1.365,NaN,1.482,NaN,NaN,1.794,NaN,1.371,1.137,NaN
32,1.390,NaN,1.506,NaN,NaN,1.805,NaN,1.388,1.204,NaN
33,1.470,NaN,1.530,NaN,NaN,1.813,NaN,1.403,1.350,NaN
34,1.477,NaN,1.557,NaN,NaN,1.820,NaN,1.453,1.351,NaN
35,1.502,NaN,1.576,NaN,NaN,1.894,NaN,1.628,1.384,NaN
36,1.520,NaN,1.581,NaN,NaN,1.903,NaN,1.641,1.406,NaN
37,1.541,NaN,1.617,NaN,NaN,1.952,NaN,1.678,1.443,NaN
38,1.632,NaN,1.638,NaN,NaN,2.059,NaN,1.694,1.453,NaN
39,1.756,NaN,1.711,NaN,NaN,2.159,NaN,1.701,1.473,NaN
40,1.784,NaN,1.822,NaN,NaN,2.194,NaN,1.770,1.497,NaN
41,1.815,NaN,1.901,NaN,NaN,2.220,NaN,1.826,1.506,NaN
42,1.860,NaN,1.914,NaN,NaN,2.230,NaN,1.849,1.516,NaN
43,1.984,NaN,1.955,NaN,NaN,2.252,NaN,1.852,1.554,NaN
44,2.102,NaN,2.050,NaN,NaN,2.315,NaN,1.856,1.566,NaN
45,2.114,NaN,2.065,NaN,NaN,2.498,NaN,1.867,1.569,NaN
46,2.144,NaN,2.068,NaN,NaN,2.657,NaN,1.943,1.573,NaN
47,2.147,NaN,2.131,NaN,NaN,2.866,NaN,2.132,1.717,NaN
48,2.208,NaN,2.151,NaN,NaN,3.027,NaN,2.364,2.094,NaN
49,2.280,NaN,2.370,NaN,NaN,3.318,NaN,3.352,2.181,NaN
50,2.303,NaN,2.463,NaN,NaN,3.480,NaN,3.890,2.595,NaN
51,2.310,NaN,2.515,NaN,NaN,3.859,NaN,4.862,2.660,NaN

In [4]:
#compute 5%, 25%, 50%, 75%, and 95% quantiles
quantiles = df.quantile([.05,.25,.5,.75,.95])
quantiles

,NE,MidAtl,ENCentral,WNCentral,SAt1,ESCentral,WSCentral,Mtn,Pac,WtdILI
0.05,0.43565,0.49275,0.46910,0.49565,0.51700,0.57755,0.48500,0.39815,0.39955,0.61565
0.25,0.72825,0.71475,0.71125,0.70175,0.73775,0.92225,0.70800,0.62425,0.55600,0.79525
0.50,1.12950,1.11600,1.26500,1.27750,1.10250,1.41650,1.10750,0.97850,0.95700,1.30350
0.75,1.66300,1.71075,1.65625,1.99300,1.75650,2.08400,1.75775,1.69575,1.45800,2.34300
0.95,2.24040,2.17580,2.24955,2.93490,2.49135,3.15795,2.53795,2.80860,2.13315,3.12745

In [46]:
var = df.var()
var

NE           0.360272
MidAtl       0.322203
ENCentral    0.365301
WNCentral    0.663201
SAt1         0.424399
ESCentral    0.685596
WSCentral    0.518147
Mtn          0.798802
Pac          0.322039
WtdILI       0.746736
dtype: float64

In [47]:
print(min(var)); print(max(var))

0.3220388759426849
0.79880158785822

In [17]:
print(min(mean)); print(max(mean))

TypeError: 'numpy.float64' object is not iterable

In [13]:
import pickle
import os
import pandas as pd

with open('/Users/akshdeepsandhu/Desktop/UBC/CPSC 340/cpsc 340/Assignments/a1/data/citiesSmall.pkl', 'rb') as f:
    dataset = pickle.load(f)

In [25]:
X = dataset["X"]
point = X[0, ]
point[0]

-85.379384